<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2131" android:versionName="2.1.3" package="com.gabrielfreire.coronameter" android:installLocation="internalOnly">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="CoronaMeter" android:icon="@drawable/coronavirus" android:allowBackup="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>